.card_container{
  display: grid;
  grid-template: 1fr 2fr/ 1fr;
  border-radius: 25px;
  border: 2px solid black;
  width: 90%;
  height: 16rem;
  transition: transform 1s ease, filter 1s ease;
  filter: drop-shadow(0 0 0 rgb(190, 190, 190));
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.card_container:hover{
  transform: scale(1.02);
  animation: gradient 4s ease infinite;
  filter: drop-shadow(0 0 0.25rem rgb(197, 197, 197));
}
.scaleUp{
  animation: scale(1.03);
}

.competency_name{
  background-color: white;
  margin: 0.4rem;
  display: grid;
  grid-template: 1fr 1fr/ 1fr 1fr;
  grid-template-areas:
  'code pillar'
  'title title';
  border: 0.2rem solid rgb(0, 0, 0);
  color: black;
  border-radius: 24px;
  padding: 10px 15px;
  grid-row: 2 / 3;
}

.text_code{
  grid-area: code;
  font-weight: 600;
  font-size: 14px;
  color: black;
  justify-self: center;
}
.text_pillar{
  grid-area: pillar;
  font-weight: 600;
  font-size: 14px;
  color: black;
  justify-self: center;
}

.text{
  font-size: 14px;
  grid-area: title;
  color: black;
}
