# ignore ALL files in ANY directory named env
Libs/parrot_db_keys.txt
Libs/.env
/test_files
Libs/__pycache__
YT_LangChain_Chatbot_Running_Alpaca_in_Colab.ipynb
test.py
stuff.obj
uploads
node_modules
models
.vscode