.wrapper {
  display: grid;
  grid-template-columns: 2.5rem 1fr 1rem;
  padding: .4rem;
  transition: all 300ms;
  height: 3rem;
  margin-bottom: 0.3rem;
}

.wrapper:hover {
  cursor: pointer;
}

.wrapper p {
  overflow-x: hidden;
  overflow-wrap: break-word;
  overflow-y: hidden;
  /* margin-right: .2rem;
  margin-bottom: .2rem; */
}

.wrapper > :nth-child(2) {
  margin-left: .3rem;
}

.selected {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 0.5rem;
}

.sessionName {
  font-size: .9rem;
  font-weight: 200;
}

.assignment {
  font-size: .8rem;
  font-weight: 200;

  color: red;
}

.chatIcon {
  width: 90%;
  align-self: center;
  justify-self: center;
}

.delete {
  width: 90%;
  margin-left: auto;
  display: grid;
  align-items: center;
  justify-content: center;
}