@keyframes fadeout {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.wrapper {
    transition: opacity 100ms linear;
    background-color: green;
    position: fixed;
    bottom: 1rem;
    right: 1rem;

    padding: 1rem;

    /* border-color: rgba(255, 255, 255, 0.6);
    border-style: solid; */
    border-bottom: solid rgba(255, 255, 255, 0.6) 5px;

    /* animation: fadeout 1000ms linear forwards; */
}

/* .wrapper::after {
    width: 30rem;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.6);
    top: 0%;
    left: 0;
} */