.wrapper{
  grid-area: searchArea;
  width: 74%;
  height: 2rem;
  display: flex;
  align-items: center;
}

.searchbox{
  background-color: #F2f2f2;
  background-image: url(src/assets/SearchIcon.svg);
  background-repeat: no-repeat;
  background-position: 1rem;
  border: none;
  border-radius: 2.5rem;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.25) inset;
  width: 100%;
  height: 100%;
  padding-left: 10%;
  display: flex;
  align-items: center;
}

.searchbox:hover {
  background-color: #949494;
  color: #F2f2f2;
  background-image: url(src/assets/SearchIconwhite.svg);
}
.searchbox:hover::-webkit-input-placeholder {
  color: #F2f2f2;
}
.searchbox:hover::-moz-placeholder {
  color: #F2f2f2;
}
.searchbox:hover:-ms-input-placeholder {
  color: #F2f2f2;
}
.searchbox:hover:-moz-placeholder {
  color: #F2f2f2;
}
.searchbox::-webkit-input-placeholder {
  color: rgba(148, 148, 148, 1);
}
.searchbox::-moz-placeholder {
  color: rgba(148, 148, 148, 1);
}
.searchbox:-ms-input-placeholder {
  color: rgba(148, 148, 148, 1);
}
.searchbox:-moz-placeholder {
  color: rgba(148, 148, 148, 1);
}

.wrapper:hover > .icon{
  filter: brightness(0) invert(1);
}

.searchbox:focus{
  outline: none;
  color: black;
}
.searchbox:focus:hover{
  color: #F2f2f2;
}
