.file_status {
  padding: 1.5rem;
  padding-bottom: 0rem;
  margin-bottom: 1rem;
  overflow-y: scroll;
  height: 100%;
}

.file_status::-webkit-scrollbar {
  width: 5px;
}

.file_status::-webkit-scrollbar-track {
  opacity: 0.6;
  border-radius: 0.5rem;
}

.file_status::-webkit-scrollbar-thumb {
  background: #cfd0e2;
  border-radius: 0.5rem;
}
