.course-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-baseline;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  /* background-color: white; */
}

.course-pillar {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 22%;
  background-color: rgba(0, 0, 0, 0.6);
}

.course-pillar-title {
  padding: 1rem 0rem 0rem 2rem;
}

.course-pillar-title p:first-child {
  font-size: 2rem;
  font-weight: 500;
  color: white;
}

.course-pillar-title p:last-child {
  font-size: 1rem;
  font-weight: 500;
  color: white;
}

.line {
  margin-top: 1rem;
  width: 90%;
  height: 0.0625rem;
  background: rgba(118, 115, 131, 0.6);
  align-self: center;
}
