.wrapper {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;

  background-color: rgba(128, 128, 128, 0.254);
  z-index: 1000;
  backdrop-filter: blur(5px);

  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background: linear-gradient(0deg, #5e6084 0%, #5e6084 100%),
    rgba(255, 255, 255, 0.1);

  padding: 1rem;
  border-radius: 0.5rem;

  width: 30vw;
}

.middle {
  margin-top: 0.5rem;
}

.middle input {
  all: unset;

  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  border-radius: 0.3rem;
  background: white;
  box-shadow: 2px 1px 6px 0px rgba(0, 0, 0, 0.25) inset;
  color: black;

  padding-left: 0.5rem;
}

.footer {
  margin-top: 0.5rem;

  width: 100%;
}

.footer button:first-child {
  border: none;

  padding: 0.4rem;
  background-color: red;
  border-radius: 0.3rem;
}

.footer button:first-child:hover {
  cursor: pointer;
}

.footer button:last-child {
  border: none;

  padding: 0.4rem;
  background-color: green;
  border-radius: 0.3rem;

  /* position: relative;
    right: 0; */
  float: right;
}

.footer button:last-child:hover {
  cursor: pointer;
}
