.chatList {
  padding: 1.5rem;
  padding-top: 0;
  padding-bottom: 0;
  overflow-y: scroll;
  flex: 1;
  margin-bottom: .5rem;

  /* transition: all 200ms; */
}

/* Make chat list scrollable */
.chatList::-webkit-scrollbar {
  width: 5px;
}

.chatList::-webkit-scrollbar-track {
  /* background-color: yellow; */
  opacity: 0.6;
  border-radius: 0.5rem;
}

.chatList::-webkit-scrollbar-thumb {
  background: #cfd0e2;
  border-radius: 0.5rem;
}

.new_chat {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.new_chat:hover {
  cursor: pointer;
}

.new_chat p {
  margin-left: 1rem;
}

.new_chat img {
  max-width: 2.7rem;
}