.wrapper {
  display: flex;
  margin-top: 1.5rem;
  /* width: auto; */
  max-width: 100%;
  width: fit-content;
  /* margin: 0; */


}

.wrapper img {
  margin-bottom: auto;
}

.message {
  border-radius: 1.875rem;
  background: linear-gradient(0deg, #252525 0%, #252525 100%), #252525;

  display: flex;
  /* justify-content: center; */
  align-items: center;
  /* max-width: 65%;  */

  padding: 1rem;
  position: relative;

  margin-left: 1rem;
  /* font-weight: .1rem; */

  flex: 1;
  max-width: 90%;
  /* margin: auto; */
  /* width: 100%; */
  /* width: auto; */
}

.message:first-child {
  overflow-x: scroll;
}

.markdown_container {
  width: 100%;
}

.code_highlight > * {
  font-size: 1rem !important;
}

.preference {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #d9d9d9;
  padding: 0.5rem;

  border-radius: 1.875rem;

  position: absolute;
  right: 0;
  bottom: -1rem;
}

.preferenceSelected {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #d9d9d9;

  border-radius: 1.875rem;

  position: absolute;
  right: 0;
  bottom: -1rem;
}

.like {
  margin-right: .5rem;
}

.likeFilled {
  max-width: 2.5rem;
  margin: 0;
}

.assignmentList {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.assignmentList p {
  text-decoration: underline;
}

.assignmentList p:hover {
  cursor: pointer;
}

.markdown {
  overflow-x: scroll;

  font-size: 1rem;
}