.sidebar_below {
  transition: 300ms;
  background-color: #5e6084;

  padding: 1rem;
  padding-top: 1.2rem;
  align-items: center;

  height: fit-content;

  /* transition: all 300ms ease-out; */
  
  /* height: 5rem; */
}

.latterHalf > *:not(:first-child) {
  margin-top: .5rem;
}

@keyframes LHfOpen {
  0% {
    /* width: 100%;
    overflow: hidden;
    height: 1rem; */
    transform: translateY(0rem);
  }
  100% {
    /* width: 100%;
    height: 3rem; */
    transform: translateY(3rem);
  }
}

@keyframes LHClose {
  0% {
    width: 100%;
    overflow: hidden;
    height: 100%;
  }
  100% {
    width: 100%;
    height: 1%;
  }
}

.latterHalfOpen {
  animation: LHOpen 300ms ease-out forwards;
  /* transform: translateY(-3rem); */
  /* transition: 300ms;
  transform: translateY(3rem); */
}

.latterHalfClose {
  animation: LHClose 300ms ease-out forwards;
}

.sidebar_below > *:not(:first-child) {
  margin-top: .5rem;
}

.allVis {
  display: flex;
  /* justify-content: flex-end; */
}

.allVis img {
  /* justify-self: flex-end; */
  align-self: end;
  margin-left: auto !important; 
}

.allVis:first-child {
  justify-self: flex-start;
}

.assDropDown {
  /* all: unset; */

  /* max-width: 2rem; */
  justify-self: center;
  align-self: center;
}

.assignmentNav {
  grid-area: AssNav;
  display: grid;
  grid-template-columns: 5fr 1fr;
  align-items: center;
  /* background-color: red; */
  border-radius: .5rem;
}

.sidebar_below h2 {
  font-size: 2rem;
  align-self: center;
}

.sidebar_below h3 {
  all: unset;
  grid-area: Sub;
  margin-left: 1rem;
  font-size: 1.2rem;
}

.sidebar_below img {
  justify-self: center;
}

.line {
  grid-area: Line;
  width: 100%;
  height: 0.01rem;
  background-color: #a4a4af;
}

.ass {
  color: #d0d1d8;
  margin-left: 1rem;
  font-size: 1.2rem;
}

/* General section */
.general {
  font-size: 1.2rem;
  padding: 1rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  color: #d0d1d8;
  /* padding-top: .5rem;
  padding-bottom: .5rem;
  color: white; */
  /* background-color: #6d6f99; */
  border-radius: 0.5rem;
  width: 100%;
  grid-area: Gen;
}

.selected {
  color: white;
  background-color: #6d6f99;
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.selected > * {
  color: white;
}