.sidebar_below {
  background-color: #5e6084;

  display: grid;
  grid-template-areas:
    "Cou CouNav"
    "Sub Sub"
    "TAss AssNav"
    "Ass Ass"
    "Line Line"
    "Gen Gen";
  grid-template-columns: 5fr 1fr;
  grid-template-rows: max-content;

  padding: 1rem;
  padding-top: 1.2rem;
  align-items: center;
  /* height: 5rem; */
}

.sidebar_below img {
  max-width: 2rem;
  justify-self: end;
  align-self: center;
}

.sidebar_below h2 {
  font-size: 2rem;
  align-self: center;
}

.sidebar_below h3 {
  all: unset;
  grid-area: Sub;
  margin-left: 1rem;
  font-size: 1.2rem;
}

.line {
  grid-area: Line;
  width: 100%;
  height: 0.01rem;
  background-color: #a4a4af;
}

.ass {
  color: #d0d1d8;
  margin-left: 1rem;
  font-size: 1.2rem;
}

/* General section */
.general {
  font-size: 1.2rem;
  padding: 1rem;
  color: white;
  background-color: #6d6f99;
  border-radius: 0.5rem;
  width: 100%;
  grid-area: Gen;
}
