.course_container{
  padding: 0.3rem 0 0 0.3rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
  list-style: none;
  grid-area: main;
  overflow-y: scroll;
}
@media only screen and (max-width: 1500px) {
  .course_container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    list-style: none;
    grid-area: main;
    overflow-y: scroll;
  }
}
@media only screen and (max-width: 1250px) {
  .course_container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    list-style: none;
    grid-area: main;
    overflow-y: scroll;
  }
}
@media only screen and (max-width: 950px) {
  .course_container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    list-style: none;
    grid-area: main;
    overflow-y: scroll;
  }
}