.wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.5rem;
}

.editIcon {
    width: 2.5rem;
}

.wrapper p {
    margin-left: 1rem;
}

.selected {
    background-color: rgba(255, 255, 255, 0.2);
    /* opacity: 0.2; */
    border-radius: 0.5rem;
}

.delete {
    
}

/* .backdrop {
    position: absolute;
    top: -1;
    left: -1;
    height: 10rem;
    width: 10rem;
    background-color: white;
    opacity: 0.2;
} */