.container{
  grid-area: Sidebar;
  display: grid;
  background-color: #2f325a;
}

.sidebar_top {
  width: 100%;
  height: auto;
  background-color: rgba(38, 41, 82, 1);
}

.sidebar-below {
  grid-area: Sidebar-below;
  overflow: auto;
  width: auto;
  height: auto;
  background-color: rgba(94, 96, 132, 1);
}

img[src="src/assets/Back Button.svg"] {
  padding-top: 1.5rem;
  padding-left: 2rem;
}


.new_chat {
  font-size: 1.3rem;
  margin-top: 3rem;
  padding-left: 1.64rem;
  display: flex;
  background-color: #2f325a;
  align-items: center;
}

.top {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
  "backBtn blank"
  "textArea collapseBtn"
  "searchArea searchArea";
  /* justify-content: space-between; */
}

.top p {
  grid-area: textArea;
  /* padding-left: 1.5rem; */
  font-size: 2rem;
  font-weight: 500;
}

img[src="src/assets/Collapse.svg"] {
  grid-area: collapseBtn;
  /* padding-right: 1.75rem; */
}

.new_chat p {
  color: #fff;
  font-size: 1.2rem;
}


img[src="src/assets/New button.svg"] {
  padding-right: 0.8rem;
}

.file_uploaded {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 6.875rem;
  background-color: #2f325a;
  padding-left: 1.64rem;
}

.file_uploaded p {
  color: #fff;
  font-size: 2rem;
  font-weight: 500;
}

img[src="src/assets/Upload.svg"] {
  padding-right: 1.75rem;
}

.file_status {
  display: flex;
  justify-content: safe;
  padding-left: 2rem;
  margin-top: 1rem;
}

.sidebar_below {
  display: flex;
  flex-direction: column;
}

.Header h3:first-child {
  /* margin-top: 1.44rem; */
  padding-left: 1.69rem;
  font-size: 2.5rem;
  font-weight: 600;
}

.Header h3:last-child {
  /* padding-top: 0.44rem; */
  padding-left: 2.51rem;
  font-size: 1.5rem;
  font-weight: 500;
}

.assignment {
  letter-spacing: 0.0375rem;
  font-size: 1.5rem;
  /* margin-top: 1rem; */
  padding-left: 2.51rem;
  color: rgba(208, 209, 216, 1);
}

.general {
  font-size: 1.5rem;
  padding-left: 2.51rem;
  color: rgba(208, 209, 216, 1);
}
